/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  color: #5bffbe;
  font-family: 'Alegreya', serif;
  user-select:none;
  transition:all ease-in 0.125s;
}

html{
    overflow-y:scroll;
}

body, button {
  background-color: #0C0B0D;
}

h1, h3, h4{
    font-weight:700;
}

h2, p{
    font-weight:400;
}

iframe{
    border-radius:2em;
    width: 100%;
    
}



