:host{
    grid-column:1/4;
    grid-row:1/1;
    display:grid;
    grid-template-columns: 2.5em 2fr;
    grid-template-rows: 2.5em 2fr auto;
    grid-gap: 1rem 0.5rem;
}

button {
    grid-row:1/1;
    grid-column:1/1;
    display:grid;
    justify-items:center;
    align-items:center;
  border: none;
  font-size: 16pt;
  border-radius:0.25rem;
}

button:hover{
    background-color:darkslategray;
}

  button:active {
    background-color: darkcyan;
  }

h4 {
  font-size: 24pt;
  align-self: center;
  text-transform:uppercase;
  color:#b4fff1;
  text-shadow:0 0 10px aqua;
}

p{
    font-size:16pt;
    grid-column:2/2;
    grid-row:2/2;
}

youtube-player{
    grid-row :3/3;
    grid-column-start:2;
}


